{% extends 'base.html.twig' %}

{% block body %}

   <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th class="p-name">Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th><i class="ti-close"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            {% for item in items %}
                                <tr>
                                    <td class="cart-pic first-row"><img src="img/products/{{item.product.img}}" style="width:100px;" alt=""></td>
                                    <td class="cart-title first-row">
                                        <h5>{{item.product.nom}}</h5>
                                    </td>
                                    <td class="p-price first-row">{{item.product.pu}}</td>
                                    <td class="qua-col first-row">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="{{item.quantity}}">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="total-price first-row">{{(item.quantity)*(item.product.pu)}}</td>
                                    <td class="close-td first-row"><a href="{{ path('cart_remove' ,{'id' : item.product.id }) }}"><i class="ti-close"></i></a></td>
                                </tr>
                             {% endfor %}   
                          
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="cart-buttons">
                                <a href="#" class="primary-btn continue-shop">Continue shopping</a>
                                <a href="#" class="primary-btn up-cart">Update cart</a>
                            </div>
                            <div class="discount-coupon">
                                <h6>Discount Codes</h6>
                                <form action="#" class="coupon-form">
                                    <input type="text" placeholder="Enter your codes">
                                    <button type="submit" class="site-btn coupon-btn">Apply</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 offset-lg-4">
                            <div class="proceed-checkout">
                                <ul>
                                    <li class="cart-total">Total <span>{{total}}</span></li>
                                </ul>
                                <a href="{{ path('check')}}" class="proceed-btn">PROCEED TO CHECK OUT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}